{% extends 'base.html' %}


{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Login</h3>
            <hr>
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p>{{error}}</p>
                {% endfor %}

                {% endif %}

                {% for fm in form %}
                {{fm.label_tag}}{{fm}}{{fm.errors|striptags}} <br><br>
                {% endfor %}                    
                <input type="submit" value="Login" class="btn">
                <a href="{% url 'registration' %}" class="btn">Registration</a>

            </form>
        </div>
     </div>
</div>
{% endblock main-content %}